.navIcon {
  display: block;
  margin: 15px auto;
}

.navIcon:hover {
  color: #007bff;
}

.navIcon.active {
  color: #007bff;
}

.navLinkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.label {
  display: block;
}
